{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
{% block header %}
    {{ parent() }}
{% endblock %}
<div class="card custom-card">
    <div class="card-body">

    <h1>Association index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Siteweb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nom }}</td>
                <td>{{ association.description }}</td>
                <td>{{ association.logo }}</td>
                <td>{{ association.siteweb }}</td>
                <td>
                    <a href="{{ path('app_association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('app_association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-block" href="{{ path('app_association_new') }}">Create new</a>
{% endblock %}
