
{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="container mt-4">
        <div class="card custom-card">
            <div class="card-header text-white"> <!-- Suppression de la classe bg-primary -->
                <h2 class="mb-0 btn btn-primary">Create new Association</h2>
            </div>
            <div class="card-body">
<form method="post" enctype="multipart/form-data">
    {{ form_start(form) }}

    <div class="form-group">
        <label for="form_nom">Nom</label>
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'form_nom'}}) }}
    </div>

    <div class="form-group">
        <label for="form_description">Description</label>
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'id': 'form_description', 'minlength': 20}}) }}
        <small class="text-muted">Minimum 20 caractères</small>
    </div>

    <div class="form-group">
        <label for="form_logo">Logo</label>
        {{ form_errors(form.logo) }}
        {{ form_widget(form.logo, {'attr': {'class': 'form-control-file', 'id': 'form_logo'}}) }}
    </div>

    <div class="form-group">
        <label for="form_siteweb">Site Web</label>
        {{ form_errors(form.siteweb) }}
        {{ form_widget(form.siteweb, {'attr': {'class': 'form-control', 'id': 'form_siteweb'}}) }}
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(form) }}
</form>
            </div>
            <div class="card-footer">
                <a href="{{ path('app_association_index') }}" class="btn btn-secondary">Back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
