{# templates/security/registration.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}




{% block body %}
{# {% block header %}{% endblock %} #}
<script>
    // Fetch the countries from the API
    fetch('https://countriesnow.space/api/v0.1/countries/population/cities')
        .then(response => response.json())
        .then(data => {
            const countrySelect = document.getElementById('country');
            const uniqueCountries = new Set(); // Set to store unique country names
            data.data.forEach(country => {
                uniqueCountries.add(country.country); // Add country names to the set
            });
            // Create options using unique country names
            uniqueCountries.forEach(countryName => {
                const option = document.createElement('option');
                option.value = countryName;
                option.textContent = countryName;
                countrySelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching countries', error);
        });
</script> 

<div class="card custom-card">
    <div class="card-body">
        <h5 class="card-title text-center">Signup</h5>
        {{ form_start(form) }}
        
        {# Display global form errors, if any #}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }}
            {# Display specific email field errors, if any #}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }}
            {# Display specific password field errors, if any #}
            {{ form_errors(form.password) }}
        </div>

        {# <div class="form-group"> #}
            {# {{ form_label(form.confirmPassword) }} #}
            {# {{ form_widget(form.confirmPassword, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }} #}
            {# Display specific confirmPassword field errors, if any #}
            {# {{ form_errors(form.confirmPassword) }} #}
        {# </div> #}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }}
            {# Display specific name field errors, if any #}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }}
            {# Display specific phone field errors, if any #}
            {{ form_errors(form.phone) }}
        </div>

        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }}
            {# Display specific city field errors, if any #}
            {{ form_errors(form.city) }}
        </div>

        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country, {'attr': {'class': 'form-control', 'style': 'border-color: red;'}}) }}
            {# Display specific country field errors, if any #}
            {{ form_errors(form.country) }}
        </div>

        <button type="submit" class="btn btn-primary btn-block">Register</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
