
{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}


{% block body %}
       <div class="container">
        <h1>All Events</h1>
        <div class="row">
            {% for event in events %}
                <div class="col-md-6">
                    <div class="card custom-card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.Nom }}</h5>
                            <p class="card-text"><strong>Description:</strong> {{ event.Description }}</p>
                            <p class="card-text"><strong>Date:</strong> {{ event.Date ? event.Date|date('Y-m-d') : '' }}</p>
                            <p class="card-text"><strong>Lieu:</strong> {{ event.Lieu }}</p>
                            <p class="card-text"><strong>Nb_reservation:</strong> {{ event.nbReservation }}</p>
                            <p class="card-text"><strong>Nb_places_dispo:</strong> {{ event.nbPlacesDispo }}</p>
                                                        <a href="{{ path('app_event_type_show', {'id': event.id}) }}" class="btn btn-primary">Show Details</a>

                        </div>
                    </div>
                </div>
                {% if loop.index is even %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
        <a href="{{ path('app_event_type_index') }}">back to list</a>

{% endblock %}
