{# _comment_form.html.twig #}

<form id="comment-form" action="{{ path('app_commentbloc_new', {'id': blog_post.id}) }}" method="post">

	{{ form_start(commentForms, {'attr': {novalidate:'novalidate'}}) }}

	<div class="mb-3">
		{{ form_label(commentForms.content) }}
		{{ form_widget(commentForms.content, {'attr': {'class': 'form-control'}}) }}
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
	{{ form_end(commentForms) }}
</form>
