<div class="custom-form-container">
	{{ form_start(form, {'attr': {novalidate:'novalidate'}}) }}
	<div class="form-group">
		<label for="title" class="form-label">Title</label>
		{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter Title'}}) }}
		{{ form_errors(form.title) }}
	</div>
	<div class="form-group">
		<label for="content" class="form-label">Content</label>
		{{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Share your content with us!'}}) }}
		{{ form_errors(form.content) }}
	</div>
	<div class="form-group">
		<label for="image" class="form-label">Upload Image</label>
		{{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Upload your image from here'}}) }}
		{{ form_errors(form.image) }}
	</div>
	<button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
	<div class="form-hints">
		<p class="hint-text">Share With Us Your Thoughts!</p>
	</div>
</div>
