<div class="custom-form-container">
    {{ form_start(form, {'attr': {'class': 'custom-form'}}) }}
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter Title'}}) }}
        </div>
        <div class="form-group">
            <label for="content" class="form-label">Content</label>
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Enter Content'}}) }}
        </div>
        <div class="form-group">
            <label for="image" class="form-label">Image URL</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Enter Image URL'}}) }}
        </div>
        <div class="form-group">
            <label for="video" class="form-label">Video URL</label>
            {{ form_widget(form.video, {'attr': {'class': 'form-control', 'placeholder': 'Enter Video URL'}}) }}
        </div>
        <button type="submit" class="btn btn-primary btn-custom">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <div class="form-hints">
        <p class="hint-text">Hint: You can paste image or video URLs from your drive 'The Link Must Be Public'.</p>
        <p class="hint-text">Share With Us Your Thoughts!</p>
    </div>
</div>
