{{ form_start(form, {'attr': {novalidate:'novalidate'}}) }}

{{ form_label(form.content) }}

{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}

<small class="text-danger">{{ form_errors(form.content) }}</small>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
