{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title mb-0">Comment index</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    {# <th>Id</th> #}
                                    <th>User Name</th>
                                    <th>BlogPost Title</th>
                                    <th>CreatedAt</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in comments %}
                                    <tr>
                                        {# <td>{{ comment.id }}</td> #}
                                            <td>
                                                {% for user in users %}
                                                    {% if user.id == comment.userId %}
                                                        {{ user.name }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for blog in blogs %}
                                                    {% if blog.id == comment.blogPostId %}
                                                        {{ blog.title }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                            
                                        <td>
                                            <a href="{{ path('app_comment_show', {'id': comment.id}) }}" class="btn btn-sm btn-info">Show</a>
                                            <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">No records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {# <div class="card-footer">
                        <a href="{{ path('app_comment_new') }}" class="btn btn-primary">Create New</a>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
