{% extends 'admin-base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}


{% for message in app.flashes('info') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
{% for message in app.flashes('upd') %}
<div class="alert alert-warning">
{{message}}
</div>

{% endfor %}
{% for message in app.flashes('del') %}
<div class="alert alert-danger">
{{message}}
</div>

{% endfor %}

    <div class="container">
        <h1 class="my-4">Projects</h1>

    
        <div class="row mb-4">
            <div class="col-md-12">
                <a href="{{ path('admin_projects_new') }}" class="btn btn-primary">Create New Project</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if projects is not empty %}
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.id }}</td>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.description }}</td>
                                    <td>{{ project.amount }}</td>
                                    <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ project.status }}</td>
                                    <td>
                                        <a href="{{ path('admin_projects_show', {'id': project.id}) }}" class="btn btn-sm btn-info">Show</a>
                                        <a href="{{ path('admin_projects_edit', {'id': project.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="8">No records found</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <span class="badge badge-sm bg-gradient"> <a href="{{ path('pdf') }}">PDF</a></span>

{% endblock %}
    