{% extends 'admin-base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Age</th>
                <th>Motorise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.Nom }}</td>
                <td>{{ reservation.prenom }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.age }}</td>
                <td>{{ reservation.motorise ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_reservation_type_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_type_edit', {'id': reservation.id}) }}">edit</a>
                    <a href="{{ path('app_reservation_type_delete', {'id': reservation.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="location.href='{{ path('exportpdf') }}'">PDF</button>
        <button class="btn btn-primary" onclick="location.href='{{ path('reservation_stat') }}'">Statistiques</button>


{% endblock %}
