{% extends 'admin-base.html.twig' %}

{% block title %}New Conference{% endblock %}

{% block body %}
    <div class="card custom-card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-20">
                    <h1 style="font-size: 32px; font-weight: bold; color: #333; margin-bottom: 20px;">Create new Conference</h1>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                <div class="form-group">
                    <label for="form_date">Date</label>
                    {{ form_errors(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control', 'id': 'form_date'}}) }}
                </div>

                <div class="form-group">
                    <label for="form_lieu">Lieu</label>
                    {{ form_errors(form.lieu) }}
                    {{ form_widget(form.lieu, {'attr': {'class': 'form-control', 'id': 'form_lieu'}}) }}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                {{ form_end(form) }}
            </form>

        </div>
        <div class="card-footer">
            <a href="{{ path('app_conference_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
{% endblock %}
