{# templates/user/edit_password.html.twig #}

{% extends 'user/index.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="card custom-card ">
        <div class="card-body">
            <h5 class="card-title text-center">Change Your Password</h5>

            {{ form_start(form, {'attr': {'class': 'form'}}) }}

<div class="form-group">
    {{ form_label(form.plainPassword, 'New Password', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}

    {% if form_errors(form.plainPassword) %}
        <div >{{ form_errors(form.plainPassword) }}</div>
    {% endif %}
</div>

<div class="form-group">
    {{ form_label(form.confirmPassword, 'Confirm Password', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.confirmPassword, {'attr': {'class': 'form-control'}}) }}

   {% if form_errors(form.plainPassword) %}
        <div >{{ form_errors(form.plainPassword) }}</div>
    {% endif %}
</div>
            
            <button type="submit" class="btn btn-primary">Change Password</button>
            <br>
                        <a href="{{ asset('/') }}" class="btn btn-primary mt-4">Back</a>


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}